h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
  height: 100px;
  width: 100px;
  border: 2px solid;
  border-radius: 15%;
  background-color:blue;
  overflow: hidden;
}
.counter {
box-shadow: 1px 1px 8px 8px;
  height: 50vh;
  width: 90%;
  border: 2px solid;
  border-radius: 15%;
  background-image: linear-gradient(green, blue);
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 20px;
}
.fs{
  margin-top: 50px;
}
.counter h1 {
  color: rgb(16, 0, 54);
  font-size: 40px;
  font-family: cursive;
}

.counter__output {
  box-shadow: 0px 0px 20px 6px;
  background-color: black;
  border-radius: 15%;
  font-size: 40px;
  border: 1px solid black;
  color: red;
}

.btn__container {
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 20px;
}

.control__btn {
  font-weight: bolder;
  border-radius: 50%;
  font-size: 20px;
  padding: 10px 20px;
  background-color: gray;
  box-shadow: 1px 1px 6px 6px;
  color: rgb(16, 0, 54);
  border: 2px solid rgb(63, 14, 179);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.control__btn:hover {
  background-color: rgb(16, 0, 54);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(16, 0, 54);
}
.reset:hover {
  background-color: rgb(16, 0, 54);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(16, 0, 54);
}
.reset {
  font-weight: bold;
  border-radius: 40%;
  box-shadow: 1px 1px 6px 6px;
  color: rgb(16, 0, 54);
  border: 2px solid rgb(63, 14, 179);
  width: 100px;
  font-size: 18px;
  padding: 10px 20px;
  background-color: gray;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}